* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --color_primary: #5e9188;
  --color_secondary: #ffffff;
  --color_tertiary: #00e676;
  --color_background: #253342;
  --color_important: #ffd700;
}

.login_card {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center;     /* Centra verticalmente */
  height: 100vh;           /* Ocupa toda la altura de la pantalla */
  margin: 0;               /* Elimina márgenes por defecto */
}

.login_card .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 210px;
  text-align: center;
  background: #2a2b38;
  padding: 20px 16px 16px 16px;       /* Añade un poco de padding interno */
  border-radius: 8px;                 /* Redondea los bordes de la tarjeta */
}

.campo {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #1f2029;
  border-radius: 4px;
  padding: 12px;
  margin: 8px 0;           /* Añade un poco de margen vertical */
  width: 100%;             /* Ajusta el ancho del campo */
}

.input-Icon {
  height: 16px;
  width: 16px;
  fill: #ffeba7;
  margin-right: 8px;       /* Espacio entre el icono y el input */
}

.input-campo {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  color: #d3d3d3;
}

 /*Texto del Log in*/
.tituloL {
  margin-bottom: 12px;
  font-size: 32px;
  font-weight: 500;
  color: #f5f5f5;
}

/*Botones*/
.btn {
  margin: 16px;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  padding: 8px 16px;
  background-color: #ffeba7;
  color: #5e6681;
  box-shadow: 0 8px 24px 0 rgb(255 235 167 / 20%);
  transition: all .3s ease-in-out;
}

.btn-link {
  color: #f5f5f5;
  display: block;
  font-size: 12px;
  transition: color .3s ease-out;
}

/*Enfoque en el botón por encima*/
.field input:focus::placeholder {
  opacity: 0;
  transition: opacity;
}

.btn:hover {
  background-color: #5e6681;
  color: #ffeba7;
  box-shadow: 0 8px 24px 0 rgb(16 39 112 / 20%);
}

.btn-link:hover {
  color: #ffeba7;
}
 
.eye-closed path {
  fill: #888;
}

/* Comienza css Index para la pagina principal */
.indexDiv {
  background-color: #1f2029;
  color: var(--color_secondary);
}