<body>
  <h2>Se venden los siguientes productos</h2>
  <div class="main_cards">
    <div class="card">
      <img
        src="../Img/photo.jpg"
        alt="Descripción de la imagen"
        class="card__image" />
      <div class="card__content">
        <h2 class="card__title">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo
          voluptatum, dolore eligendi adipisci sequi dignissimos velit pariatur
          iure quibusdam perspiciatis ab, placeat asperiores voluptatem
          repellendus quia quae, maxime assumenda commodi?
        </h2>
        <p class="card__description">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus ex
          incidunt aspernatur! Maxime facilis vitae repudiandae, id totam ea
          dolore optio sequi, tempore perspiciatis sunt in enim distinctio
          numquam deserunt.
        </p>
        <a href="index_ar1.html" class="card__button">Leer más</a>
      </div>
    </div>
    <div class="card">
      <img
        src="../Img/photo.jpg"
        alt="Descripción de la imagen"
        class="card__image" />
      <div class="card__content">
        <h2 class="card__title">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo
          voluptatum, dolore eligendi adipisci sequi dignissimos velit pariatur
          iure quibusdam perspiciatis ab, placeat asperiores voluptatem
          repellendus quia quae, maxime assumenda commodi?
        </h2>
        <p class="card__description">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus ex
          incidunt aspernatur! Maxime facilis vitae repudiandae, id totam ea
          dolore optio sequi, tempore perspiciatis sunt in enim distinctio
          numquam deserunt.
        </p>
        <a href="index_ar1.html" class="card__button">Leer más</a>
      </div>
    </div>
    <div class="card">
      <img
        src="../Img/photo.jpg"
        alt="Descripción de la imagen"
        class="card__image" />
      <div class="card__content">
        <h2 class="card__title">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo
          voluptatum, dolore eligendi adipisci sequi dignissimos velit pariatur
          iure quibusdam perspiciatis ab, placeat asperiores voluptatem
          repellendus quia quae, maxime assumenda commodi?
        </h2>
        <p class="card__description">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus ex
          incidunt aspernatur! Maxime facilis vitae repudiandae, id totam ea
          dolore optio sequi, tempore perspiciatis sunt in enim distinctio
          numquam deserunt.
        </p>
        <a href="index_ar1.html" class="card__button">Leer más</a>
      </div>
    </div>
  </div>
</body>
