<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cards display</title>
  </head>
  <body>
    <h2>Se venden los siguientes productos</h2>
    <div class="cardsDisplay"></div>
    <div class="card">
      <img
        src="img/la-historia-de-bitcoin-2.gif"
        alt="Descripción de la imagen"
        class="card__image" />
      <div class="card__content">
        <h2 class="card__title">
          Las Stablecoin son las criptomonedas mas estables
        </h2>
        <p class="card__description">
          Son una clase especial de criptomonedas diseñadas para mantener su
          valor en un nivel constante...
        </p>
        <a href="index_ar1.html" class="card__button">Leer más</a>
      </div>
    </div>
  </body>
</html>
