<!DOCTYPE html>
<html lang="es" class="display">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Notas</title>
  </head>
  <body>
    <div class="centro">
      <div class="card">
        <h2 class="tituloForm">Datos para la palabra</h2>
        <form id="formularioPalabra" method="post">
          <div class="campo">
            <label for="palabra" class="input-title">Palabra:</label>
            <input
              type="text"
              id="palabra"
              name="palabra"
              class="input-campo"
              placeholder="Coloque una palabra"
              required />
          </div>
          <button class="btn" type="submit">Enviar</button>
        </form>
      </div>
    </div>
  </body>
</html>
