<!DOCTYPE html>
<html lang="es" class="display">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>formulario</title>
    <link rel="stylesheet" href="../style/style.css" />
  </head>
  <body class="form-body">
    <div class="form_card">
      <div class="card">
        <h2 class="tituloL">Publicar objeto de venta</h2>
        <form id="ventaform">
          <div class="campo">
            <label for="name" class="input-title">Nom:</label>
            <input
              type="text"
              id="name"
              name="name"
              class="input-campo"
              placeholder="Nombre del producto"
              required />
          </div>
          <div class="campo">
            <label for="description" class="input-title">Desc:</label>
            <textarea
              id="description"
              name="description"
              class="input-campo"
              placeholder="Descripción del producto"
              required></textarea>
          </div>
          <div class="campo">
            <label for="price" class="input-title">Prec:</label>
            <input
              type="number"
              id="price"
              name="price"
              step="0.01"
              class="input-campo"
              placeholder="Precio del producto"
              required />
          </div>
          <div class="campo">
            <label for="category" class="input-title">Catg:</label>
            <select id="category" name="category" class="input-campo" required>
              <option value="">
                Selecciona una categoría para el producto
              </option>
              <option value="electronics">Electrónica</option>
              <option value="clothing">Ropa</option>
              <option value="home">Hogar</option>
              <option value="toys">Juguetes</option>
            </select>
          </div>
          <div class="campo">
            <label for="image" class="input-title">Img:</label>
            <input
              type="file"
              id="image"
              name="image"
              accept="image/*"
              class="input-campo"
              required />
          </div>
          <button
            type="button"
            class="btn"
            onclick="submitVentaForm()"
            id="btn-summit">
            Guardar
          </button>
          <button
            type="button"
            class="btn"
            id="btn-cancel"
            onclick="window.location.href='../index.html'">
            Cancelar
          </button>
        </form>
      </div>
    </div>
  </body>
</html>
