<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Notas</title>
  </head>
  <body>
    <h2>Formulario para Cargar Datos de Alumnos</h2>
    <form id="formularioAlumno" action="../php/Act6.php" method="POST">
      <label for="nombre">Nombre del alumno:</label>
      <input type="text" id="nombre" name="nombre" required />
      <br />
      <label for="nota">Nota del alumno:</label>
      <input type="number" id="nota" name="nota" required />
      <br />
      <button type="submit">Enviar</button>
    </form>
  </body>
</html>
