<!DOCTYPE html>
<html lang="es" class="display">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mes</title>
  </head>
  <body>
    <div class="centro">
      <div class="card">
        <h2 class="tituloForm">Mes en numero</h2>
        <form id="formularioMes" method="post">
          <div class="campo">
            <label for="palabra" class="input-title">Mes:</label>
            <input
              type="number"
              id="mesNumber"
              name="mesNumber"
              class="input-campo"
              placeholder="Coloque el numero del mes"
              required />
          </div>
          <button class="btn" type="submit">Enviar</button>
        </form>
      </div>
    </div>
  </body>
</html>
