<!DOCTYPE html>
<html lang="es" class="display">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="centro">
      <div class="card">
        <h2 class="tituloForm">Calcular el perímetro de un cuadrado</h2>

        <form id="perimetroForm" method="post">
          <div class="campo">
            <label for="lado" class="input-title">Lado:</label>
            <input
              type="number"
              id="lado"
              name="lado"
              class="input-campo"
              placeholder="Valor numérico" />
          </div>
          <button class="btn" type="submit">Enviar</button>
        </form>
      </div>
    </div>
  </body>
</html>
