@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  background-color: black;
  color: aqua;
  flex: auto;
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.Script_php, .Script_php h1, 
.Script_php h2, .Script_php h3,
.Script_php p{
  color: violet;
}

